USE [master]
GO
/****** Object:  Database [LibraryDB]    Script Date: 6/16/2026 9:26:48 PM ******/
CREATE DATABASE [LibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[LastState] [datetime] NULL,
	[CurrentRoleID] [int] NULL,
	[personID] [int] NOT NULL,
	[LastRole] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[usersView]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view  [dbo].[usersView]  as
SELECT        Users.UserID, Users.UserName, Users.Password, Users.LastState, Users.CurrentRoleID, Users.personID, Users.LastRole, Users.IsActive, Roles.RoleName, Roles.Description
FROM            Roles Right JOIN
                         Users ON Roles.RoleID = Users.CurrentRoleID AND Roles.RoleID = Users.LastRole
GO
/****** Object:  View [dbo].[UsersListView]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[UsersListView] as

SELECT        Users.UserID, Users.UserName, Users.Password, Users.LastState, Users.CurrentRoleID, Users.personID, Roles.RoleName, Users.IsActive
FROM            Users Left JOIN
                         Roles ON Users.CurrentRoleID = Roles.RoleID 
GO
/****** Object:  Table [dbo].[Fines]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fines](
	[FineID] [int] IDENTITY(1,1) NOT NULL,
	[ByUser] [int] NULL,
	[BorrowingRecordID] [int] NOT NULL,
	[NumberOfLateDays] [smallint] NOT NULL,
	[FineAmount] [decimal](18, 0) NOT NULL,
	[PaymentStatus] [bit] NULL,
	[PaymentWay] [bit] NULL,
	[Detailes] [nvarchar](250) NULL,
 CONSTRAINT [PK_Fines] PRIMARY KEY CLUSTERED 
(
	[FineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FinesView]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[FinesView] as 

select FineID , ByUser , NumberOfLateDays , FineAmount , 
case 
when PaymentStatus  = 1 then 'complete'
else 'InComplete'
end as PaymentStatus
, case 
when PaymentWay = 0 then 'Visa'
else 'Cash'
end as PaymentWay,Detailes
from Fines
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[ByUser] [int] NOT NULL,
	[CopyID] [int] NOT NULL,
	[ReservationDate] [date] NOT NULL,
	[Detailes] [nvarchar](250) NULL,
	[ReservationStatus] [tinyint] NOT NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ReservationsView]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view  [dbo].[ReservationsView] as
select ID , PersonID , ByUser , CopyID,ReservationDate ,
case 
when ReservationStatus = 1 then 'New'
when ReservationStatus = 2 then 'Cancelled'
when ReservationStatus = 3 then 'Complete'
else ''
end as ReservationStatus , Detailes from Reservations
GO
/****** Object:  Table [dbo].[People]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[ThirdName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nchar](10) NOT NULL,
	[CountryID] [int] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[ImageURL] [nchar](500) NULL,
	[Ismale] [bit] NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PersonDetails]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[PersonDetails] as
SELECT        People.PersonID, concat (People.FirstName,' ', People.SecondName,' ',
People.ThirdName,' ', People.LastName) as FullName,People.Phone, People.Email, Countries.CountryName
FROM            Countries INNER JOIN
                         People ON Countries.CountryID = People.CountryID
GO
/****** Object:  Table [dbo].[Books]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[ISBN] [nvarchar](50) NOT NULL,
	[PublicationDate] [datetime] NOT NULL,
	[Rate] [decimal](2, 1) NULL,
	[Detailes] [nvarchar](250) NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DTBooksList]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[DTBooksList] as
select Books.BookID ,Books.Title , Books.ISBN , Books.PublicationDate , Books.Rate
from Books --order by BookID
GO
/****** Object:  Table [dbo].[BookImages]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookImages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ImagePath] [nvarchar](400) NOT NULL,
	[ImageOrder] [smallint] NOT NULL,
	[BookID] [int] NOT NULL,
 CONSTRAINT [PK_BookImages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ImgDictionary]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[ImgDictionary] as
select ImageOrder , ImagePath from BookImages 
GO
/****** Object:  Table [dbo].[BookCopies]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCopies](
	[CopyID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[AvailabilityStatus] [bit] NOT NULL,
	[Reserved] [bit] NOT NULL,
 CONSTRAINT [PK_BookCopies] PRIMARY KEY CLUSTERED 
(
	[CopyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrowings]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrowings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BorrowingDate] [datetime] NOT NULL,
	[PersonID] [int] NOT NULL,
	[CopyID] [int] NOT NULL,
	[FineID] [int] NULL,
	[Duration] [date] NOT NULL,
	[ActualReturnDate] [date] NULL,
	[ByUser] [int] NOT NULL,
	[Detailes] [nvarchar](250) NULL,
 CONSTRAINT [PK_Borrowings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionsRecords]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionsRecords](
	[PermissionsID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[PermissionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persmissions]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persmissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](50) NOT NULL,
	[PermissionNumber] [nchar](10) NOT NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_Persmissions] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 6/16/2026 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[DefualtBorrrowDays] [tinyint] NOT NULL,
	[DefualtFinePerDays] [tinyint] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BookCopies] ON 

INSERT [dbo].[BookCopies] ([CopyID], [BookID], [AvailabilityStatus], [Reserved]) VALUES (1, 1, 1, 1)
INSERT [dbo].[BookCopies] ([CopyID], [BookID], [AvailabilityStatus], [Reserved]) VALUES (2, 1, 1, 0)
INSERT [dbo].[BookCopies] ([CopyID], [BookID], [AvailabilityStatus], [Reserved]) VALUES (3, 2, 0, 1)
SET IDENTITY_INSERT [dbo].[BookCopies] OFF
GO
SET IDENTITY_INSERT [dbo].[BookImages] ON 

INSERT [dbo].[BookImages] ([ID], [ImagePath], [ImageOrder], [BookID]) VALUES (2, N'C:\Library-People-Images\Booksfe0fb60c-d31c-461d-929c-ec050dfa6b57.png', 1, 13)
INSERT [dbo].[BookImages] ([ID], [ImagePath], [ImageOrder], [BookID]) VALUES (3, N'C:\Library-People-Images\Bookse8228fca-db2a-497a-b0dd-71b747fffcb3.png', 1, 13)
INSERT [dbo].[BookImages] ([ID], [ImagePath], [ImageOrder], [BookID]) VALUES (4, N'C:\Library-People-Images\Booksfe0fb60c-d31c-461d-929c-ec050dfa6b57.png', 2, 13)
SET IDENTITY_INSERT [dbo].[BookImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [Title], [ISBN], [PublicationDate], [Rate], [Detailes]) VALUES (1, N'The Pragmatic Programmer', N'978-0135957059', CAST(N'2019-09-13T00:00:00.000' AS DateTime), CAST(0.0 AS Decimal(2, 1)), N'Updated 20th anniversary edition covering modern software craftsmanship.')
INSERT [dbo].[Books] ([BookID], [Title], [ISBN], [PublicationDate], [Rate], [Detailes]) VALUES (2, N'Clean Code: A Handbook of Agile Software Craftsmanship', N'978-0132350884', CAST(N'2008-08-11T00:00:00.000' AS DateTime), CAST(0.0 AS Decimal(2, 1)), N'Focuses on writing clean, maintainable, and efficient code.')
INSERT [dbo].[Books] ([BookID], [Title], [ISBN], [PublicationDate], [Rate], [Detailes]) VALUES (3, N'Introduction to Algorithms', N'978-0262046305', CAST(N'2022-04-05T00:00:00.000' AS DateTime), CAST(0.0 AS Decimal(2, 1)), N'Standard CS textbook by Cormen et al., 4th Edition.')
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrowings] ON 

INSERT [dbo].[Borrowings] ([ID], [BorrowingDate], [PersonID], [CopyID], [FineID], [Duration], [ActualReturnDate], [ByUser], [Detailes]) VALUES (1, CAST(N'2026-01-21T12:09:23.880' AS DateTime), 8, 2, NULL, CAST(N'2026-02-04' AS Date), CAST(N'2026-01-29' AS Date), 1, N'First Test')
INSERT [dbo].[Borrowings] ([ID], [BorrowingDate], [PersonID], [CopyID], [FineID], [Duration], [ActualReturnDate], [ByUser], [Detailes]) VALUES (2, CAST(N'2026-01-01T00:00:00.000' AS DateTime), 8, 3, NULL, CAST(N'2026-01-14' AS Date), CAST(N'2026-01-30' AS Date), 1, N'Second Test')
INSERT [dbo].[Borrowings] ([ID], [BorrowingDate], [PersonID], [CopyID], [FineID], [Duration], [ActualReturnDate], [ByUser], [Detailes]) VALUES (12, CAST(N'2026-01-21T12:59:16.340' AS DateTime), 8, 11, NULL, CAST(N'2026-02-04' AS Date), CAST(N'2026-01-24' AS Date), 1, NULL)
SET IDENTITY_INSERT [dbo].[Borrowings] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (1, N'Afghanistan')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (2, N'Albania')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (3, N'Algeria')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Fines] ON 

INSERT [dbo].[Fines] ([FineID], [ByUser], [BorrowingRecordID], [NumberOfLateDays], [FineAmount], [PaymentStatus], [PaymentWay], [Detailes]) VALUES (1, 1, 12, 0, CAST(0 AS Decimal(18, 0)), 1, 0, N'')
INSERT [dbo].[Fines] ([FineID], [ByUser], [BorrowingRecordID], [NumberOfLateDays], [FineAmount], [PaymentStatus], [PaymentWay], [Detailes]) VALUES (7, 7, 16, 15, CAST(16 AS Decimal(18, 0)), 1, 0, N'')
INSERT [dbo].[Fines] ([FineID], [ByUser], [BorrowingRecordID], [NumberOfLateDays], [FineAmount], [PaymentStatus], [PaymentWay], [Detailes]) VALUES (8, 7, 20, 2, CAST(2 AS Decimal(18, 0)), 1, 1, N'')
SET IDENTITY_INSERT [dbo].[Fines] OFF
GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([PersonID], [FirstName], [SecondName], [ThirdName], [LastName], [Phone], [CountryID], [Email], [ImageURL], [Ismale]) VALUES (3, N'John', N'Michael', N'James', N'Doe', N'1234567890', 1, N'john.doe@email.com', NULL, 1)
SET IDENTITY_INSERT [dbo].[People] OFF
GO
SET IDENTITY_INSERT [dbo].[PermissionsRecords] ON 

INSERT [dbo].[PermissionsRecords] ([PermissionsID], [RoleID], [PermissionID], [LastUpdate]) VALUES (3, 1, 1, CAST(N'2025-06-11T00:00:00.000' AS DateTime))
INSERT [dbo].[PermissionsRecords] ([PermissionsID], [RoleID], [PermissionID], [LastUpdate]) VALUES (4, 1, 2, CAST(N'2026-01-25T00:00:00.000' AS DateTime))
INSERT [dbo].[PermissionsRecords] ([PermissionsID], [RoleID], [PermissionID], [LastUpdate]) VALUES (5, 1, 8, CAST(N'2026-01-25T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PermissionsRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Persmissions] ON 

INSERT [dbo].[Persmissions] ([PermissionID], [PermissionName], [PermissionNumber], [Description]) VALUES (1, N'ViewData', N'1         ', N'Access to View on Data')
INSERT [dbo].[Persmissions] ([PermissionID], [PermissionName], [PermissionNumber], [Description]) VALUES (2, N'RemoveData', N'2         ', N'Delete')
INSERT [dbo].[Persmissions] ([PermissionID], [PermissionName], [PermissionNumber], [Description]) VALUES (3, N'AddData', N'4         ', N'Add')
SET IDENTITY_INSERT [dbo].[Persmissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([ID], [PersonID], [ByUser], [CopyID], [ReservationDate], [Detailes], [ReservationStatus]) VALUES (2, 8, 1, 11, CAST(N'2026-01-22' AS Date), NULL, 2)
INSERT [dbo].[Reservations] ([ID], [PersonID], [ByUser], [CopyID], [ReservationDate], [Detailes], [ReservationStatus]) VALUES (3, 8, 1, 6, CAST(N'2026-01-22' AS Date), NULL, 2)
INSERT [dbo].[Reservations] ([ID], [PersonID], [ByUser], [CopyID], [ReservationDate], [Detailes], [ReservationStatus]) VALUES (7, 8, 7, 1, CAST(N'2026-01-30' AS Date), NULL, 2)
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'FullAccess')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (2, N'Librarian', N'AddData')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[Settings] ([DefualtBorrrowDays], [DefualtFinePerDays]) VALUES (14, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Password], [LastState], [CurrentRoleID], [personID], [LastRole], [IsActive]) VALUES (1, N'Admin1', N'123', CAST(N'2025-06-11T00:00:00.000' AS DateTime), 1, 2, 1, 1)
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [LastState], [CurrentRoleID], [personID], [LastRole], [IsActive]) VALUES (7, N'user77', N'1234', CAST(N'2026-02-03T19:19:23.967' AS DateTime), 1, 6, 2, 1)
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [LastState], [CurrentRoleID], [personID], [LastRole], [IsActive]) VALUES (8, N'User88', N'123456', CAST(N'2026-02-03T19:04:59.797' AS DateTime), 1, 41, 2, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[BookCopies]  WITH CHECK ADD  CONSTRAINT [FK_BookCopies_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[BookCopies] CHECK CONSTRAINT [FK_BookCopies_Books]
GO
ALTER TABLE [dbo].[BookImages]  WITH CHECK ADD  CONSTRAINT [FK_BookImages_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[BookImages] CHECK CONSTRAINT [FK_BookImages_Books]
GO
ALTER TABLE [dbo].[Borrowings]  WITH CHECK ADD  CONSTRAINT [FK_Borrowings_BookCopies] FOREIGN KEY([CopyID])
REFERENCES [dbo].[BookCopies] ([CopyID])
GO
ALTER TABLE [dbo].[Borrowings] CHECK CONSTRAINT [FK_Borrowings_BookCopies]
GO
ALTER TABLE [dbo].[Borrowings]  WITH CHECK ADD  CONSTRAINT [FK_Borrowings_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Borrowings] CHECK CONSTRAINT [FK_Borrowings_People]
GO
ALTER TABLE [dbo].[Borrowings]  WITH CHECK ADD  CONSTRAINT [FK_Borrowings_Users] FOREIGN KEY([ByUser])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Borrowings] CHECK CONSTRAINT [FK_Borrowings_Users]
GO
ALTER TABLE [dbo].[Fines]  WITH CHECK ADD  CONSTRAINT [FK_Fines_Users1] FOREIGN KEY([ByUser])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Fines] CHECK CONSTRAINT [FK_Fines_Users1]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Countries] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Countries]
GO
ALTER TABLE [dbo].[PermissionsRecords]  WITH CHECK ADD  CONSTRAINT [FK_Permissions_PersmissionsInfo] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Persmissions] ([PermissionID])
GO
ALTER TABLE [dbo].[PermissionsRecords] CHECK CONSTRAINT [FK_Permissions_PersmissionsInfo]
GO
ALTER TABLE [dbo].[PermissionsRecords]  WITH CHECK ADD  CONSTRAINT [FK_Permissions_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[PermissionsRecords] CHECK CONSTRAINT [FK_Permissions_Roles]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_BookCopies] FOREIGN KEY([CopyID])
REFERENCES [dbo].[BookCopies] ([CopyID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_BookCopies]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_People]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Users] FOREIGN KEY([ByUser])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_People] FOREIGN KEY([personID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_People]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles2] FOREIGN KEY([CurrentRoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles2]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles3] FOREIGN KEY([LastRole])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles3]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Books] CHECK  (([Rate]>=(0) AND [Rate]<=(5)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Books]
GO
/****** Object:  StoredProcedure [dbo].[sp_DashboardCounts]    Script Date: 6/16/2026 9:26:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DashboardCounts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        (SELECT COUNT(*) FROM Books) AS TotalBooks,
        (SELECT COUNT(*) FROM BookCopies) AS TotalCopies,
        (SELECT COUNT(*) FROM Borrowings) AS TotalBorowings,
        (SELECT COUNT(*) FROM Borrowings WHERE ActualReturnDate IS NULL) AS ActiveBorrowings,
        (SELECT COUNT(*) FROM Reservations) AS TotalReservations,
        (SELECT COUNT(*) FROM Reservations WHERE ReservationStatus = 2) AS CancelledReservations,
        (SELECT COUNT(*) FROM Reservations WHERE ReservationStatus = 3) AS CompletedReservations,
        (SELECT COUNT(*) FROM People) AS TotalPeople,
        (SELECT COUNT(*) FROM Users) AS TotalUsers;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FinesDashboardCounts]    Script Date: 6/16/2026 9:26:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_FinesDashboardCounts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        (SELECT COUNT(*) FROM Fines) AS TotalFines,

        (SELECT ISNULL(SUM(FineAmount), 0)
         FROM Fines) AS TotalFineAmount,

        (SELECT COUNT(*)
         FROM Borrowings
         WHERE Borrowings.Duration < GETDATE()
           AND ActualReturnDate IS NULL) AS LateBorrowings,

        (SELECT ISNULL(SUM(FineAmount), 0)
         FROM Fines
         WHERE PaymentWay = 1) AS CashFineAmount,

        (SELECT ISNULL(SUM(FineAmount), 0)
         FROM Fines
         WHERE PaymentWay = 0) AS VisaFineAmount,

        (SELECT COUNT(*)
         FROM Fines
         WHERE PaymentWay = 1) AS CashFinesCount,

        (SELECT COUNT(*)
         FROM Fines
         WHERE PaymentWay = 0) AS VisaFinesCount,

        (SELECT ISNULL(SUM(NumberOfLateDays), 0)
         FROM Fines) AS TotalLateDays;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FinesDashboardStats]    Script Date: 6/16/2026 9:26:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FinesDashboardStats]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        COUNT(*) AS TotalFines,

        ISNULL(SUM(FineAmount), 0) AS TotalFineAmount,

        (SELECT COUNT(*) 
         FROM Borrowings 
         WHERE Borrowings.Duration < GETDATE() AND ActualReturnDate IS NULL) AS LateBorrowings,

        ISNULL(SUM(CASE WHEN PaymentWay = 1 THEN FineAmount END), 0) AS CashFineAmount,

        ISNULL(SUM(CASE WHEN PaymentWay = 0 THEN FineAmount END), 0) AS VisaFineAmount,

        COUNT(CASE WHEN PaymentWay = 1 THEN 1 END) AS CashFinesCount,

        COUNT(CASE WHEN PaymentWay = 0 THEN 1 END) AS VisaFinesCount,

        ISNULL(SUM(NumberOfLateDays), 0) AS TotalLateDays
    FROM Fines;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 => Cash //  2=> Visa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Fines', @level2type=N'COLUMN',@level2name=N'PaymentWay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 new  2 cancelled  3complete ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Reservations', @level2type=N'COLUMN',@level2name=N'ReservationStatus'
GO
USE [master]
GO
